/* /Pages/Home/home.razor.rz.scp.css */
.container[b-ebdr0kcv41] {
    display: flex;
    flex-direction: column;
    align-items: start;
}
p[b-ebdr0kcv41]{
    margin : 0px;
}

.user-detail-container[b-ebdr0kcv41] {
    position : relative;
    width : 100%;
    display: flex;
    flex-direction: row;
    margin: 0;
}

.user-detail[b-ebdr0kcv41] {
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.user-avatar[b-ebdr0kcv41] {
    margin-left : 30px;
    margin-right : 30px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
    border :5px;
}

.user-avatar img[b-ebdr0kcv41] {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.money-container[b-ebdr0kcv41] {
    
}
.empty[b-ebdr0kcv41] {
    width : max-content
}

.display-balance-view[b-ebdr0kcv41] {
    background-color: aqua;
    border-radius: 40px;
    margin-bottom: 100px;
}

.stacked-views[b-ebdr0kcv41] {
    display: flex;
    flex-direction: column;
    
 }

.add-transaction[b-ebdr0kcv41] {
    display :flex ;
    justify-content : center;
    align-items : center;
    margin-left: auto;
    
}

.add-transaction-img[b-ebdr0kcv41] {
    height: 30px;
    width: 30px;
}

.user-name[b-ebdr0kcv41] {
    font-weight : bold;
    font-size : 20px;
    margin : 0;
}

.status-day[b-ebdr0kcv41] {
    font-size: 15px;
    margin: 0;
}

.transaction-display-container[b-ebdr0kcv41] {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
    height:185px;
    margin: 25px;
}

.display-transaction[b-ebdr0kcv41] {
    width: 100%;
    height: 160px;
    background-color: #38cfcc;
    border-radius: 30px;
    padding-left: 20px;
    padding-right :20px;
    padding-top : 10px;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: space-between;
}
.display-transaction-detail[b-ebdr0kcv41]{
    padding: 20px;
}

.display-transaction-daypicker[b-ebdr0kcv41] {
    width: 100px;
    border: 0px;
    background-color: transparent;
    color: white;
    accent-color :white;
}

.balance-display[b-ebdr0kcv41] {
    font-size: 30px;
    font-weight: bold;
    color: white;
}

.number-style[b-ebdr0kcv41] {
    font-weight : bold;
}

.income-money[b-ebdr0kcv41] {
    color: green;
    font-size : 20px;
}

.expense-money[b-ebdr0kcv41] {
    color: red;
    font-size: 20px;
}

.income-expense-view[b-ebdr0kcv41] {
    position: absolute;
    margin-top: 120px;
    width: 90%;
    height: 70px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;

    display : flex;
    flex-direction : row;
    align-items : center;
    justify-content : space-around;
}

.income-container[b-ebdr0kcv41] {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.title[b-ebdr0kcv41]{
    font-size : 15px;
}

.income-amount[b-ebdr0kcv41]{

}

.income-icon[b-ebdr0kcv41]{
    
}

.income-info[b-ebdr0kcv41] {
    margin-left : 20px
}

.expense-container[b-ebdr0kcv41] {
    display: flex;
    flex-direction: row;
    justify-content : center;
    align-items : center;
}


.expense-amount[b-ebdr0kcv41]{

}

.expense-icon[b-ebdr0kcv41]{

}

.expense[b-ebdr0kcv41] {
    margin-left : 20px;
}

.transaction-list-container[b-ebdr0kcv41] {
    position: relative;
    margin-left : 25px;
    height:195px;
    width: 100%;
    overflow :auto;
}




.transaction-list-daypicker[b-ebdr0kcv41]{
    display : flex;
    flex-direction : row;
    justify-content : space-between;
    margin-left :20px;
    margin-right : 20px;

}

.transaction-list-display[b-ebdr0kcv41]{

}

.trans-title[b-ebdr0kcv41]{
    font-weight : bold;
    font-size : 18px;
}

.daypicker-dialog[b-ebdr0kcv41]{
   width : 210px;
}

.daypicker[b-ebdr0kcv41]{
    display : flex;
    flex-direction : row;
}

.daypicker-title[b-ebdr0kcv41] {
    margin-left : 10px;
    margin-right : 10px;
}
/* /Shared/Bottomnav.razor.rz.scp.css */
.bottom-nav[b-ye7c5hr1jr] {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    padding-bottom : 10px;
    justify-content: space-around;
    align-items: center;
    color: #333;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
}

  

    .bottom-nav a[b-ye7c5hr1jr] {
        text-decoration: none;
        padding: 0px 0;
        color: #333;
    }

.bottom-item-align[b-ye7c5hr1jr] {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    margin: 0;
}

.svg-container[b-ye7c5hr1jr] {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
}

.bottom-nav-text[b-ye7c5hr1jr] {
    color: #9e9e9e;
}

p[b-ye7c5hr1jr] {
    margin: 5px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-peg019tdwv] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-peg019tdwv] {
    flex: 1;
}

.sidebar[b-peg019tdwv] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-peg019tdwv] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-peg019tdwv]  a, .top-row[b-peg019tdwv]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-peg019tdwv]  a:hover, .top-row[b-peg019tdwv]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-peg019tdwv]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

@media (max-width: 640.98px) {
    .top-row:not(.auth)[b-peg019tdwv] {
        display: none;
    }

    .top-row.auth[b-peg019tdwv] {
        justify-content: space-between;
    }

    .top-row[b-peg019tdwv]  a, .top-row[b-peg019tdwv]  .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page[b-peg019tdwv] {
        flex-direction: row;
    }

    .sidebar[b-peg019tdwv] {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row[b-peg019tdwv] {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row[b-peg019tdwv], article[b-peg019tdwv] {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}
