.screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    height: 100%;
    width: contain;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    position: fixed;
}

.transaction-type {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 15px;
}

.transaction {
    height: 50px;
    width: 50%;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

.active {
    background-color: #38cfcc;
    color: white;
}

.inactive {
    background-color: white
}
