.modal {
    
    padding: 5px;
    padding-top :25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}


.modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
   
    height: 100%;
    overflow: inherit;
    outline : none;
    
}
.modal-cancel-button-container {
    position : absolute;
    width : 100%;
    display:flex;
    justify-content :end;
}

.modal-cancel-button {
    margin-left: auto;
    width: 90px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    
}

.modal-daypicker-divider {
    width: 100%;
    height: 2px;
    border: 2px;
    border-color: black;
    background-color: black;
}


.modal-title-container {
    width: 100%;
    height: 50px;
    background-color: #38cfcc;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    outline :none;
}

.modal-title {
    color: white;
    font-weight: bold;
    font-size: 17px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.modal-transaction-type-container {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 15px;
}

.modal-transaction {
    height: 50px;
    width: 50%;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    font-weight: bold;
}

.modal-daypicker-container {
    margin-top: 10px;
    width: 90%;
    height: 170px;
    border-radius: 30px;
    background-color: white;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding: 30px;
}

.modal-daypicker-title {
    margin: 0;
}

.modal-daypicker-timepicker{
    display :flex;
    flex-direction : row;
    justify-content : center;
    align-items : center;
}

.modal-time-input {
    width : 27px;
    height : min-content;
    border-radius : 5px;
}

.modal-daypicker-timepicker-sepreate-time{
    font-weight : bold;
    font-size : 25px;
    margin-left : 3px;
    margin-right :3px;
}

.modal-daypicker-button-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-daypicker-button {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    outline: none;
    
    transition: background-color 0.3s;
    
}

.white {
    background-color: white;
}

.blue {
    background-color: #38cfcc;
    color : white;
}

.modal-daypicker-listofday {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px
}

.day-container {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
}

.day-name {
    border-bottom: 2px;
}

.daypicker-button-container {
    height: 80px;
    display : flex;
    flex-direction : row;
    align-items : center;
}

.modal-transaction-information-container {
    height: min-content;
    width: 90%;
    margin-top: 25px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.modal-transaction-information-title-size {
    font-weight: bold;
    font-size: 17px;
}

.modal-input-container {
    width: 100%;
    display :flex;
    flex-direction :row;
    justify-content :start;
    align-items : center;

}

.modal-transaction-input-field {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 10px;
    border: none;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 15px;
    width: 100%;
    padding-left: 40px;
}

.modal-category-list {
    width: 90%;
    display: flex;
    flex-direction: row;
    overflow: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.modal-category-button {
    height: 50px;
    width: min-content;
    border: none;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin-right: 30px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
}

.add-transaction-submit-button {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    margin-top: 15px;
    margin-bottom: 15px;
    border: none;
    font-weight: bold;
}

.modal-time-picker-container {
    margin-top: 25px;
    margin-bottom : 30px;
    width: 90%;
    height: 200px;
    padding: 15px;
    padding-right: 25px;
    border-radius: 15px;
    background-color: white;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.none-bold{
    font-weight : normal
}


.modal-input-icon{
    
    position :absolute;
    margin-left :8px;

}