@page "/add_transaction"

<head>
    <link rel="stylesheet" href="./css/AddTransaction.css" />
</head>

<body>
    <div class="container">
        <div class="title-container">
            <p class="title">Add Transaction</p>
        </div>
    </div>
</body>

@code {

}
