@page "/"

<div class= "container">
    <div class="user-detail-container">
        <div class="user-avatar">
            <img src="user_default.png" />
        </div>
        <div class="user-detail">
            <p class="status-day">@DayStatus</p>
            <p class="user-name">@Username</p>
        </div>
        <div class="add-transaction" @onclick="addTransiaction"><img class="add-transaction-img" src="icons8-add-file-64.png" /></div>
    </div> 
    
    <div class="transaction-display-container">
           <div class="display-transaction">
               <div >
                   <p style="color : white">Balance</p>
                   <p class="balance-display">$@Balance</p>
               </div>
               <div>

               </div>
           </div>
           <div class="income-expense-view">
            <div class="income-container">
                <div>
                    <div class="income-title">
                        <p style="color : green">Income</p>
                    </div>
                    <div class="income-amount">
                    </div>
                </div>
                <div class="income-icon"></div>
            </div>
            <div>
                <div>
                    <div class="expense-title">
                        <p style="color : red">Expense</p>
                    </div>
                    <div class="expense-amount">
                    </div>
                </div>
                <div class="expense-icon">

                </div>
            </div>
           </div>
    </div>
</div>

@code {
    public String Username = "Billy";
    public String DayStatus = "Morning";
    public String Balance = "7872.20";
    //public String  UserImage = ;


    public void addTransiaction()
    {
        
    }
}
