.screen {
    height: 100%;
    width : 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

.container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    position: fixed;
    align-items: center;
    margin-top: 0;
    padding: 0;
}

.transaction-analysis-container {
    height: 100%;
    width: 105%;
    display: flex;
    flex-direction: column;
    padding : 5px;
    
    
}

.transaction-type {
    display: flex;
    flex-direction: row;
    width: 90%;
    margin-top: 25px;
    
}

.transaction {
    height: 50px;
    width: 50%;
    border-radius: 20px;
    border: none;
    font-size: 18px;
    font-weight: bold;

}

.active {
    background-color: #38cfcc;
    color: white;
}

.inactive {
    background-color: white
}
.transaction-list-container-analysis {
    margin-top: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;
    align-items: center;

    
    
}
.transaction-container {
    width : 100@;
    padding-right: 10px;
    margin-bottom: 70px;
    overflow: auto;
    
}

.Transaction-analysis-weekitem-title{
    margin-right : 5px
}


.Transaction-analysis-weekitem-title-container{
    display:flex;
    
    flex-direction :row;
    align-items : center;
    justify-content : space-between;
    
}

.incomeTitle {
    background-color: #90fcaf
}

.expenseTitle {
    background-color: #fa98ae
}

.Transaction-analysis-weekitem-container {
    width : 100%;
    display: flex;
    flex-direction: column;
    border: 2px solid #000; /* 2px width, solid black color border */
    margin-bottom : 15px;
    border-radius: 8px;

    margin-left : 20px;
}

.income-border {
    border-color: #90fcaf
}

.expense-border {
    border-color: #fa98ae
}

.Transaction-analysis-weekitem-information-container{
    padding :5px;
}

.Transaction-analysis-weekitem-weeknum{
    font-weight : bold;
    font-size : 25px;
    margin-left : 10px;
}

.month-picker {
    border: 0px;
    background-color: lightgray;
    color: black;
    
    
}
